.AppFooter {
  text-align: center;
}

.AppFooter p {
  margin: 0;
  padding: 1rem;
  font-weight: 500;
}

.Socmed {
  font-size: 2rem;
  color: rgb(25, 25, 25);
  margin: 0 0.5rem;
}

.Socmed:hover {
  color: rgb(94, 114, 101);
}
