.AppAbout {
  display: flex;
  flex-direction: column;
  padding: 8rem 0 0 0;
}

.AboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background-color: rgb(228, 233, 228);
}

.AboutMe div {
  padding: 0 3rem;
}

h1 {
  font-size: 5rem;
}

h3,
.Passion h3 {
  font-size: 3rem;
}

h3,
h1,
.Passion h3 {
  margin: 0;
  font-family: "Lavishly Yours", cursive;
  font-weight: normal;
  text-align: center;
  color: rgb(117, 141, 125);
}

.AboutMe div p {
  font-size: 1.25rem;
}

.PassionContainer {
  height: 50%;
  display: flex;
  padding: 0, 1rem;
  border-bottom: 1px solid rgb(228, 233, 228);
}

.PassionContainer p {
  padding: 0 2rem;
  text-align: center;
}

.Passion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.Passion img {
  box-shadow: 0 0 5px 2px rgb(117, 141, 125);
  border-radius: 50%;
}
